<main>
    <div>
      <label class="page-header m-3">Release Lookup</label>
      <div class="page-header-rectangle ms-3"></div>
    </div>
    <div class="m-3">
      <label class="me-3">Product: </label>
      <select
        [(ngModel)]="selectedProduct"
        (ngModelChange)="onChangeProductSelection($event)"
      >
        <option *ngFor="let product of products" [ngValue]="product">
          {{ product.name }}
        </option>
      </select>
      <div *ngIf="selectedVersion">
        <label class="me-3">Release: </label>
        <select
          [(ngModel)]="selectedVersion"
        >
          <option *ngFor="let version of versions" [ngValue]="version">
            {{ version }}
          </option>
        </select>
      </div>
      <version-finder-release-panel [release]="getReleaseFromProductIdAndReleaseName(selectedProduct.id, selectedVersion)" [product]="selectedProduct" [products]="products" [releases]="releases"></version-finder-release-panel>
  </div>
</main>
