<main>
  <h1>If I want</h1>
  <select
    [(ngModel)]="selectedFamily"
    (ngModelChange)="onChangeFamilySelection($event)"
  >
    <option *ngFor="let family of families" [ngValue]="family">
      {{ family.name }}
    </option>
  </select>
  <div *ngIf="selectedVersion">
    <select
      [(ngModel)]="selectedVersion"
      (ngModelChange)="onChangeVersionSelection($event)"
    >
      <option *ngFor="let version of versions" [ngValue]="version">
        {{ version }}
      </option>
    </select>
  </div>
  <button *ngIf="selectedVersion && selectedFamily" (click)="onSearch($event)">
    search
  </button>

  <div *ngIf="foundDependencies.length > 0">
    <h1>That means I need at least</h1>
    <ul class="dependency-list">
      <li *ngFor="let dependency of foundDependencies" class="dependency-item">
        <h3 class="mx-3">{{ getFamilyFromId(dependency.family)?.name }}</h3>
        <p class="mx-3">{{ dependency.version }}</p>
      </li>
    </ul>
  </div>
</main>
