<main>
  <h1>If I want</h1>
  <select
    [(ngModel)]="selectedProduct"
    (ngModelChange)="onChangeProductSelection($event)"
  >
    <option *ngFor="let product of products" [ngValue]="product">
      {{ product.name }}
    </option>
  </select>
  <div *ngIf="selectedVersion">
    <select
      [(ngModel)]="selectedVersion"
      (ngModelChange)="onChangeVersionSelection($event)"
    >
      <option *ngFor="let version of versions" [ngValue]="selectedVersion">
        {{ version }}
      </option>
    </select>
  </div>

  <div *ngIf="foundReleases.length > 0">
    <h1>That means I need at least</h1>
    <ul class="release-list">
      <li *ngFor="let release of foundReleases" class="release-item">
        <h3 class="mx-3">{{ getProductFromId(release.product)?.name }}</h3>
        <p class="mx-3">{{ release.version }}</p>
      </li>
    </ul>
  </div>
</main>
