<div class="header d-flex align-items-center">
  <h3 class="title m-3">Version Finder</h3>
  <nav class="ms-auto">
    <ul class="d-flex justify-content-end flex-row">
      <li class="mx-4 list-unstyled">
        <a routerLink="**" routerLinkActive="active">Latest Releases</a>
      </li>
      <li class="mx-4 list-unstyled">
        <a routerLink="/add-product" routerLinkActive="active">Add Product</a>
      </li>
      <li class="mx-4 list-unstyled">
        <a routerLink="/add-release" routerLinkActive="active">Add Release</a>
      </li>
    </ul>
  </nav>
</div>
<router-outlet></router-outlet>
