<main>
  <ul class="dependency-list">
    <li *ngFor="let dependency of dependencies" class="dependency-item">
      <h3 class="mx-3">{{ dependency.family.name }}</h3>
      <p class="mx-3">{{ dependency.version }}</p>
    </li>
  </ul>

  <select
    [(ngModel)]="selectedFamily"
    (ngModelChange)="onChangeFamilySelection($event)"
  >
    <option *ngFor="let family of families" [ngValue]="family">
      {{ family.name }}
    </option>
  </select>
  <div *ngIf="selectedVersion">
    <select
      [(ngModel)]="selectedVersion"
      (ngModelChange)="onChangeVersionSelection($event)"
    >
      <option *ngFor="let version of versions" [ngValue]="version">
        {{ version }}
      </option>
    </select>
  </div>
  <button *ngIf="selectedVersion && selectedFamily" (click)="onSearch($event)">
    search
  </button>

  <ul class="dependency-list">
    <li *ngFor="let dependency of foundDependencies" class="dependency-item">
      <h3 class="mx-3">{{ dependency.family.name }}</h3>
      <p class="mx-3">{{ dependency.version }}</p>
    </li>
  </ul>
</main>
