<h1>Latest Releases</h1>
<div *ngFor="let family of families" class="flex-down mx-3 my-5">
  <h2>{{ family.name }}</h2>
  <ul class="dependency-list flex-right">
    <div class="d-flex flex-right">
      <h3>v{{ getLatestReleaseByFamily(family.id)?.version }}</h3>
    </div>
    <div
      *ngIf="
        getDependenciesForRelease(
          getLatestReleaseByFamily(family.id)?.dependencies
        ).length > 0
      "
    >
      <h4>Dependencies:</h4>
      <ul class="dependency-list">
        <li
          *ngFor="
            let dependency of getDependenciesForRelease(
              getLatestReleaseByFamily(family.id)?.dependencies
            )
          "
          class="flex-down mx-3"
        >
          <label>
            {{ getFamilyNameById(dependency.family) }} v{{ dependency.version }}
          </label>
        </li>
      </ul>
    </div>
  </ul>
</div>
