<h1 class="text-center">Latest Releases</h1>
<div class="d-flex flex-wrap">
  <article
    *ngFor="let product of products"
    class="p-4 bg-white d-inline-block m-5"
  >
    <h2>{{ product.name }}</h2>
    <ul class="Release-list flex-right">
      <h3>v{{ getLatestReleaseByProduct(product.id)?.version }}</h3>
      <label
        >released
        {{
          getFriendlyDate(getLatestReleaseByProduct(product.id)?.releaseDate)
        }}</label
      >
      <div
        *ngIf="
          getReleasesForRelease(getLatestReleaseByProduct(product.id)?.releases)
            .length > 0
        "
      >
        <h4>Dependencies:</h4>
        <ul class="Release-list">
          <li
            *ngFor="
              let release of get64Releases(
                getLatestReleaseByProduct(product.id)?.releases
              )
            "
            class="flex-down mx-3"
          >
            <label>
              {{ getProductNameById(release.product) }} v{{ release.version }}
            </label>
          </li>
        </ul>
        <h4
          class="ms-5"
          *ngIf="
            get64Releases(getLatestReleaseByProduct(product.id)?.releases)
              .length > 0 &&
            get66Releases(getLatestReleaseByProduct(product.id)?.releases)
              .length > 0
          "
        >
          OR
        </h4>
        <ul class="Release-list">
          <li
            *ngFor="
              let release of get66Releases(
                getLatestReleaseByProduct(product.id)?.releases
              )
            "
            class="flex-down mx-3"
          >
            <label>
              {{ getProductNameById(release.product) }} v{{ release.version }}
            </label>
          </li>
        </ul>
      </div>
    </ul>
  </article>
</div>
