<h1>Latest Releases</h1>
<div class="d-flex flex-wrap">
  <article
    *ngFor="let family of families"
    class="p-4 bg-white d-inline-block m-5"
  >
    <h2>{{ family.name }}</h2>
    <ul class="dependency-list flex-right">
      <h3>v{{ getLatestReleaseByFamily(family.id)?.version }}</h3>
      <label
        >released
        {{
          getFriendlyDate(getLatestReleaseByFamily(family.id)?.releaseDate)
        }}</label
      >
      <div
        *ngIf="
          getDependenciesForRelease(
            getLatestReleaseByFamily(family.id)?.dependencies
          ).length > 0
        "
      >
        <h4>Dependencies:</h4>
        <ul class="dependency-list">
          <li
            *ngFor="
              let dependency of get64dependencies(
                getLatestReleaseByFamily(family.id)?.dependencies
              )
            "
            class="flex-down mx-3"
          >
            <label>
              {{ getFamilyNameById(dependency.family) }} v{{
                dependency.version
              }}
            </label>
          </li>
        </ul>
        <h4
          class="ms-5"
          *ngIf="
            get64dependencies(getLatestReleaseByFamily(family.id)?.dependencies)
              .length > 0 &&
            get66dependencies(getLatestReleaseByFamily(family.id)?.dependencies)
              .length > 0
          "
        >
          OR
        </h4>
        <ul class="dependency-list">
          <li
            *ngFor="
              let dependency of get66dependencies(
                getLatestReleaseByFamily(family.id)?.dependencies
              )
            "
            class="flex-down mx-3"
          >
            <label>
              {{ getFamilyNameById(dependency.family) }} v{{
                dependency.version
              }}
            </label>
          </li>
        </ul>
      </div>
    </ul>
  </article>
</div>
