<div class="d-flex justify-content-between">
  <div>
    <label class="page-header m-3">Manage Products</label>
    <div class="page-header-rectangle ms-3"></div>
  </div>
  <div>
    <a
      class="helpicon"
      href="https://northstarutilities.atlassian.net/wiki/spaces/RM/pages/2309259269/NS+Version+Finder#Manage-Products"
    >
      <fa-icon [icon]="faQuestionCircle" class="fa-2x m-3"></fa-icon>
    </a>
  </div>
</div>
<div class="d-flex flex-wrap border-box m-3">
  <article *ngFor="let product of products" class="m-3">
    <h3 #productId class="productId">{{ product.id }}</h3>
    <div class="article-header-rectangle">
      <h2 class="mx-3 header">{{ product.name }}</h2>
    </div>
    <div class="flex-right">
      <div class="flex-right">
        <label class="subheader mx-3">Product Name: </label>
        <input
          type="text"
          class="text me-3"
          value="{{ product.name }}"
          #productName
        />
        <label class="subheader mx-3">Product Type: </label>
        <select #productType class="me-3" [value]="product.productType">
          <option value="CIS Releases">CIS Releases</option>
          <option value="7 Module Releases">7 Module Releases</option>
          <option value="Addon Releases">Addon Releases</option>
          <option value="NSBL Releases">NSBL Releases</option>
        </select>
        <button (click)="updateProduct(productName.value, productId.innerText, productType.value)">
          Update
        </button>
      </div>
    </div>
    <div class="d-flex flex-row-reverse mt-auto">
      <button
        (click)="deleteProduct(productId.innerText)"
        class="mt-3 ml-auto ms-auto"
      >
        Delete
      </button>
    </div>
  </article>

  <article class="m-3">
    <div class="article-header-rectangle">
      <h2 class="mx-3 header">Add a Product</h2>
    </div>
    <div class="flex-right">
      <label class="subheader mx-3">Product Name: </label>
      <input type="text" class="text me-3" #newProductName id="productNameInputBox" />
      <label class="subheader mx-3">Product Type: </label>
      <select #newProductType class="me-3">
        <option value="CIS Releases">CIS Releases</option>
        <option value="7 Module Releases">7 Module Releases</option>
        <option value="Addon Releases">Addon Releases</option>
        <option value="NSBL Releases">NSBL Releases</option>
      </select>
      <button (click)="addProduct(newProductName.value, newProductType.value)">Add Product</button>
    </div>
  </article>
</div>
