<h1 class="text-center">Releases</h1>
<article
  *ngFor="let family of families"
  class="p-4 bg-white d-inline-block m-5"
>
  <h2>{{ family.name }}</h2>
  <article
    *ngFor="let release of getReleasesByFamily(family.id)"
    class="p-4 bg-white d-inline-block m-5"
  >
    <h3 class="text-center">{{ release.version }}</h3>
    <h4>Dependencies:</h4>
    <ul class="dependency-list">
      <li
        *ngFor="
          let dependency of getDependenciesForRelease(release.dependencies)
        "
        class="flex-down mx-3"
      >
        <div class="d-flex flex-right mt-3">
          <h4>
            {{ getFamilyNameById(dependency.family) }}
          </h4>
          <h4 class="ms-2">v{{ dependency.version }}</h4>
          <button class="ms-auto" (click)="onDelete(release.id, dependency.id)">
            Delete
          </button>
        </div>
      </li>
    </ul>
    <version-finder-add-dependency
      [families]="families"
      [dependencies]="dependencies"
      [productId]="release.id"
      (addDependencyEvent)="addDependencyEvent($event)"
    ></version-finder-add-dependency>
    <button (click)="deleteRelease(release.id)">Delete Release</button>
  </article>
  <article class="p-4 bg-white d-inline-block m-5">
    <h3>Add a Release</h3>
    <div class="flex-right">
      <label class="mx-3">Version: </label>
      <input type="text" class="me-3" #newReleaseVersion />
      <button (click)="addRelease(newReleaseVersion.value, family.id)">
        Add Release
      </button>
    </div>
  </article>
</article>
