<div>
  <label class="page-header m-3">Releases</label>
  <div class="page-header-rectangle ms-3"></div>
</div>
<div class="d-flex flex-wrap border-box m-3">
  <article *ngFor="let product of products" class="bg-white d-inline-block m-5">
    <h2>{{ product.name }}</h2>
    <article
      *ngFor="let release of getReleasesByProduct(product.id)"
      class="bg-white d-inline-block m-5"
    >
      <div class="article-header-rectangle">
        <label class="mx-3 header">{{ release.version }}</label>
      </div>
      <div class="flex-right">
        <label class="subheader mx-3">Version Number: </label>
        <input
          type="text"
          class="text me-3"
          value="{{ release.version }}"
          #versionNumber
        />
      </div>
      <div class="flex-right">
        <label class="subheader mx-3">Release Date: </label>
        <input
          type="date"
          class="text me-3"
          value="{{ release.releaseDate }}"
          #releaseDate
        />
        <button
          (click)="
            onReleaseDateUpdate(release, releaseDate.value, versionNumber.value)
          "
        >
          Update
        </button>
      </div>
      <label class="subheader mx-3">Dependencies:</label>
      <ul class="dependency-list mx-3">
        <li
          *ngFor="
            let dependency of getDependenciesForRelease(release.dependencies)
          "
          class="orange"
        >
          <div class="d-flex flex-right">
            <label class="text">
              {{ getProductNameById(dependency.product) }} v{{
                dependency.version
              }}
            </label>
            <button
              class="ms-auto"
              (click)="onDeleteDependency(release.id, dependency.id)"
            >
              Delete Dependency
            </button>
          </div>
        </li>
      </ul>
      <version-finder-add-dependency
        [Products]="products"
        [Releases]="releases"
        [productId]="release.id"
        (addReleaseEvent)="addReleaseEvent($event)"
      ></version-finder-add-dependency>
      <button class="float-end mt-4" (click)="deleteRelease(release.id)">
        Delete Release
      </button>
    </article>
    <article class="p-4 bg-white d-inline-block m-5">
      <h3>Add a Release</h3>
      <div class="flex-right">
        <label class="subheader mx-3">Version Number: </label>
        <input type="text" class="me-3" #newReleaseVersion />
      </div>
      <div class="flex-right">
        <label class="subheader mx-3">Release Date: </label>
        <input type="date" class="text me-3" #newReleaseReleaseDate />
      </div>
      <button
        (click)="
          addRelease(
            newReleaseVersion.value,
            newReleaseReleaseDate.value,
            product.id
          )
        "
        class="float-end mt-4"
      >
        Add Release
      </button>
    </article>
  </article>
</div>
