<div class="d-flex flow-right">
  <label class="me-3">Add dependency:</label>
  <select
    [(ngModel)]="selectedFamily"
    (ngModelChange)="onChangeProductSelection($event)"
    class="me-3"
  >
    <option *ngFor="let family of families" [ngValue]="family">
      {{ family.name }}
    </option>
  </select>
  <div>
    <select
      [(ngModel)]="selectedVersion"
      (ngModelChange)="onChangeVersionSelection($event)"
      class="me-3"
    >
      <option *ngFor="let version of versions" [ngValue]="version">
        {{ version }}
      </option>
    </select>
  </div>
  <button *ngIf="selectedVersion && selectedFamily" (click)="onAdd()">
    add
  </button>
</div>
